<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Books</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <form action="/book" method="POST">
        <h2>POST BOOK</h2>
        <div>
            <label>id</label>
            <input type="text" name="id">
        </div>
        <div>
            <label>name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>year</label>
            <input type="text" name="year">
        </div>
        <div>
            <label>author</label>
            <input type="text" name="author">
        </div>
        <button>Submit</button>
    </form>
    
</body>
</html>